@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,900&family=Roboto:wght@300;400;500;700&display=swap');

body {
    background-color: black;
    font-family: 'Lato', sans-serif;
}

p {
    color:#fffff0
}

.welcome-container {
    height: 90vh;
    background: url("../images/dumbell-guy.jpg") no-repeat center right fixed; 
    background-color: rgba(0, 0, 0, .5);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 1;
}

#classes-image-wrapper {
    height: 700px;
    width: 100%;
}

.hero-image {
    height: 100%;
    background: url("../images/group-plank.jpg") no-repeat center right fixed; 
    background-size: cover;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative; 
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    z-index: -1;
}

.text-center {
    text-align: center;
    color: #fffff0;
}

/* Block dividers */

.block-divider {
    width: 150px;
    border: 0;
    height: 5px;
    text-align: center;
    background-color: #444;
    margin: 0 0 0 20px;
}

.block-divider--green {
    background-color: #0b693d;
}

.block-divider--short {
    width: 100px;
}

/* Navbar */
.navbar {
    margin-bottom: 0;
    border: 1px solid #212529;
    width: 100%;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    z-index: 3;
}

.nav-drop-down-bg {
    background-color: black;
    color: #fffff0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav a {
    font-weight: bold;
    color: #fffff0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fffff0;
}

.navbar-dark .navbar-brand {
    color: #af002a;
    padding: 0 5px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #af002a;
    
}

.navbar-dark .navbar-brand:hover {
    color: #af002a;
}

.navbar-dark .navbar-nav a:hover {
    background-color: black;
    color: #af002a;
}

/* Jumbotron */
.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: #fffff0;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.jumbotron .lead {
    margin: 25px 0 0 25px;
    color: #fffff0;
}

.lead {
    text-transform: uppercase;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #fffff0;
}

/* Buttons */
.btn--cta {
    font-weight: bold;
    width: 190px;
}

.btn--green {
    color: #212529;
    background-color: #af002a;
    border-color: #af002a;
    border-radius: 14px;
}

.btn--cardio {
    color: #212529;
    background-color: #ff4c4c;
    border-color: #ff4c4c;
    border: 1px solid;
    border-radius: 14px;
}

.btn--strength {
    color: #c9ffe5;
    background-color: #00308f;
    border-color: #00308f;
    border: 1px solid;
    border-radius: 14px;
}

.btn--mind--body {
    color: #c9ffe5;
    background-color: #14FFB0;
    border-color: #14FFB0;
    border: 1px solid;
    border-radius: 14px;
}

.btn--fight {
    color: #fffff0;
    background-color: #869697;
    border-color: #869697;
    border: 1px solid;
    border-radius: 14px;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    color: #212529;
    background-color: #dc2a52;
    border-color: #dc2a52;
}

.btn--cardio:hover,
.btn--cardio:active,
.btn--cardio:focus,
.btn--cardio:active:focus {
    color: #af002a;
    background-color: black;
    border: 2px solid black;
    border-radius: 14px;
}

.btn--strength:hover,
.btn--strength:active,
.btn--strength:focus,
.btn--strength:active:focus {
    color: #af002a;
    background-color: black;
    border: 2px solid black;
    border-radius: 14px;
}

.btn--mind--body:hover,
.btn--mind--body:active,
.btn--mind--body:focus,
.btn--mind--body:active:focus {
    color: #af002a;
    border-radius: 0;
    background-color: black;
    border: 2px solid black;
    border-radius: 12px;
}

.btn--fight:hover,
.btn--fight:active,
.btn--fight:focus,
.btn--fight:active:focus {
    color: #af002a;
    background-color: black;
    border: 2px solid black;
    border-radius: 14px;
}


.btn--header {
    margin-right: 5px;
}

.btn--left {
    float: left;
}

/* Classes Hero Image */

.cover-text  {
    text-transform: uppercase;
    font-size: 55px;
    margin-left: -700px;
    margin-bottom: 455px;
    color: #fffff0;
    font-family: 'Roboto', sans-serif;
}

/* Covid Section */

#covid-section {
    height: 600px;
}

#welcome {
    margin: 20px 0;
    text-align: left;
    color: #af002a;
    padding-left: 15px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border: 2px solid #af002a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    color: #fffff0;
}

.right-about-heading {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    color: #fffff0;
}

.right-about-heading-lower {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    color: #fffff0;
    
}

.right-about-heading-lower h2 {
    text-align: right;
}

.right-about-heading-lower p{
    text-align: right;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p{
    text-align: right;
}

/* Covid Image */

#circle-container {
    width: 250px;
    height: 250px;
    padding: 30px;
    border-style: solid;
    border-color: #af002a;
    border-width: 0;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("../images/covid-19\(2\).webp") no-repeat center center;
    height: 100%;
    margin-top: 160px;
    border-radius: 50%;
}

/* Gym info */

#classes-image {
    background: url("../images/group-plank.jpg") no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    overflow: hidden;
    }

    #classes-image div {
        color: #fffff0;
        background-color: rgba(0,0,0, .6);
        width: 100%;
        height: 50vh;
        float: left;
        padding: 30px 0 0 10px;
        text-align: center;
        margin: 2px;
    }
    
    #classes-image h2 {
        color: #fffff0;
    }
    
    .classes-title {
        text-align: justify;
    }

    #personal-trainer {
        background: url("../images/pt-trainer.jpg") no-repeat center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 50vh;
        width: 100%;
        overflow: hidden;
    }
    
    #personal-trainer div {
        color: #fffff0;
        background-color: rgba(0,0,0, .6);
        width: 100%;
        height: 50vh;
        float: left;
        padding: 30px 0 0 10px;
        text-align: center;
        margin: 2px;
    }

    #gym-membership {
        background: url("../images/dumbell-weights.jpeg") no-repeat center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 50vh;
        width: 100%;
        overflow: hidden;
    }
    
    #gym-membership div {
        color: #fffff0;
        background-color: rgba(0,0,0, .6);
        width: 100%;
        height: 50vh;
        float: left;
        padding: 30px 0 0 10px;
        text-align: center;
        margin: 2px;
    }

    .text {
        text-align: left;
    }

    /* Class Categories */

    #wrapper {
        height: 550px;
        width: 1425px;
    }

    .class-categories {
        top: 50%;
        right: 50%;
        margin: auto;
        padding: 5px 260px;
        
     }

    .cardio-class {
        background-image: url("../images/spin.jpeg"); 
        
        background-size: cover;
        background-repeat: no-repeat no-repeat;
        height: 100%;
    }

    .strength-class {
        
        background-image: url("../images/pump-class.jpg") ; 
        
        background-size: cover;
        background-repeat: no-repeat no-repeat;
        height: 100%;
    }

    .mind-body-class {
        background-image: url("../images/mind-body-class.jpg");
   
        background-size: cover;
        background-repeat: no-repeat no-repeat;
        height: 100%;
    }

    .fight-class {
        background-image: url("../images/boxing-girl.jpg");
   
        background-size: cover;
        background-repeat: no-repeat no-repeat;
        height: 100%;
    }

    .cardio-class-bg {
        background-color: #ff4c4c;
    }

    .strength-class-bg {
        background-color: #00308f;
    }

    .mind-body-class-bg {
        background-color: #14FFB0;
    }

    .fight-class-bg {
        background-color: #869697;
    }

    .section-heading-cardio {
       color: #212529;
       font-family: 'Roboto', sans-serif;
       font-size: 40px;
       padding-top: 20px;
    }

    .cardio-section {
        text-align: center;
        color: #212529;
        font-size: 18px;
        padding: 30px;
    }

    .section-heading-strength {
        color: #c9ffe5;
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        padding-top: 20px;
    }

    .strength-section {
        text-align: center;
        color: #fffff0;
        font-size: 18px;
        padding: 30px;
    }

    .section-heading-mind-body {
        color: #c9ffe5;
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        padding-top: 20px;
    }

    .mind-body-section {
        text-align: center;
        color: #fffff0;
        font-size: 18px;
        padding: 30px;
    }

    .section-heading-fight {
        color: #fffff0;
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        padding-top: 20px;
    }

    .fight-section {
        text-align: center;
        color: #fffff0;
        font-size: 18px;
        padding: 30px;
    }

    .cardio-title {
        text-transform: uppercase;
        font-size: 55px;
        margin-top: 90px;
        color: #fffff0;
        font-family: 'Roboto', sans-serif;
        position: absolute;
    }

    /* Types of Classes (Cardio/Strength/Mind & Body/ Fight) */
    .classes {
        border: 2px solid #af002a;
        border-radius: 14px;
        background-color: black;
        color: #fffff0;
        padding: 20px;
    }

    .underline {
        text-decoration: 2px underline #af002a;
    }

    /* Contact Us */

    .contact-us-header {
        height: 90vh;
        background: url("../images/contact-us.jpg") no-repeat center right fixed; 
        background-color: rgba(0, 0, 0, .5);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
        min-height: 360px;
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
    
        display: flex;
    
        position: relative;
        z-index: 1;
    }
    
    .contact-us-location {
        border: 0;
        width: 100%;
        padding: 1em;
    }

    .contact-us-address {
        color: #fffff0;
        text-align: justify;
        padding: 1em;
    }

    .form-control {
        background-color: rgba(0, 0, 0, 0.6);
        background: transparent;
        color: #fffff0;
    }
    
    .signup-form {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        max-width: 40em;
        padding-left: 1em;
        
    }
    
    .signup-form h2{
        color: #fffff0;
        margin-bottom: 20px;
    }
    
    .text-input{
        background: transparent;
        color: #fffff0;
        width: 100%;
        height: 25px;
        margin: 5px 0 20px 0;
        border: 1px solid #fffff0;
        border-radius: 2px;
    }
    
    .text-input:hover {
        border-color: #af002a;
    }

    /* Memberships */

    .membership-header {
        height: 90vh;
        width: 100%;
        background: url("../images/membership.jpeg") no-repeat center right fixed; 
        background-color: rgba(0, 0, 0, .5);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
        min-height: 360px;
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
    
        display: flex;
    
        position: relative;
        z-index: 1;
    }

    .membership-heading {
        color: #fffff0;
        text-align: center;
    }

    .membership-section {
        width: 70%;
    }

    /* Footer */

    footer {
        background-color: black;
        color: #fffff0;
        border: 1px solid #212529;
        min-height: 120px;
        margin: 0;
    }

    .footer-links {
        color: #fffff0;
        text-decoration: none;
    }

    a:hover {
        color: #af002a; 
    }
    
    .social-links {
        padding-bottom: 15px;
    }
    
    .social-links li a i {
        width: 32px;
        height: 32px;
        padding: 12px 0;
        border-radius: 0;
        font-size: 20px;
        line-height: 7px;
        text-align: center;
        color: #212529;
        background: #af002a;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }
    
    .social-links li a i:hover {
        background-color: #212529;
        color: #af002a;
    }
    
    #footer-details {
        padding: 20px;
    }

    /* Media queries */
    /* for large to medium screen sizes. from 1200px wide and down */
@media screen and (max-width: 1393px){
    
    .welcome-container {
        width: 100%;
    }
    
    #covid-section{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome{
        padding: 30px 0;
        margin-top: 0;
    }

    #left-about, #right-about{
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about{
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #gym-info div{
        width: 100%;
        clear: both;
        height: 150%;
        border-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #fffff0;
        padding: 0;
    }

    #circle-cover-bg {
        margin: 0 auto;
    }
}

/* for medium screens sizes from 950px wide and down */
@media screen and (max-width: 943px) {
    .navbar-brand{
        clear: left;
        float: left;
        margin-right: 30px;
        margin-bottom: 5px;
        line-height: 5px;
    }

    #cover-text{
        left: 0px;
    }

    #club-ethos{
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading{
        width: inherit;
    }

    .left-about-heading h3, .right-about-heading h3, .right-about-heading-lower, h3{
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p, .right-about-heading-lower p{
        text-align: center;
        padding: 0 20 0 20;
    }

    #photo{
        column-count: 3;
    }

}

/* for small screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    #photo{
        column-count: 2;
    }
}