@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,900&family=Roboto:wght@300;400;500;700&display=swap');

.welcome-container {
    height: 90vh;
    background: url("../images/battle-ropes.jpg") no-repeat center right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

/* Jumbotron */
.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: #fffaf0;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
}

.jumbotron .lead {
    margin: 25px 0 0 25px;
    color: #e5e4e2;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #e5e4e2;
}
